nav {
  list-style-type: none;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(176,224,230,1) 21%, rgba(176,224,230,1) 100%); 
  text-align: center;
}

nav a {
  display: inline;
  text-align: center;
  padding: 80px;
  text-decoration: none;
}

.blurb{
    height: auto;
    width: auto;
    position:relative;
}

.blurb text, div.blurb header {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.headshot
    {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
    width: 100%
}


p, h1, h2, footer, .headshot, .blurb text, .blurb header {
    width: 60%;
}

body {
        background-color: whitesmoke;
}

body, p, h1, h2, nav, footer, .blurb text, .blurb header {
    margin:auto;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
}
a:link {
    text-decoration: none;
    color: #FFD700;
    text-shadow: 1px 1px 2px black, 0 0 25px LemonChiffon, 0 0 5px LightGoldenRodYellow;
}
a:visited {
    text-decoration: underline;
    color: 	#FFFF99;
    text-shadow: 1px 1px 2px black, 0 0 25px Grey, 0 0 5px WhiteSmoke;
}
a:hover {
    text-decoration: underline;
    color: SteelBlue;
    text-shadow: 1px 1px 2px black, 0 0 25px Silver, 0 0 5px WhiteSmoke;
}

h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    }

h2 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    }

p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
footer {
    margin-top: 50px;
    font-size: .8em;
    display: block;
    clear: both;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    width: 60%;
    
}

ul.posts li {
    list-style: none;
}
