body {
    width: 70%;
    background-color: powderblue;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-left:auto; 
    margin-right:auto;
    width:75%;
}
a:link {
    text-decoration: none;
    color: #FFD700;
    text-shadow: 1px 1px 2px black, 0 0 25px LemonChiffon, 0 0 5px LightGoldenRodYellow;
}
a:visited {
    text-decoration: underline;
    color: Gainsboro;
    text-shadow: 1px 1px 2px black, 0 0 25px Grey, 0 0 5px WhiteSmoke;
}
a:hover {
    text-decoration: underline;
    color: SteelBlue;
    text-shadow: 1px 1px 2px black, 0 0 25px Silver, 0 0 5px WhiteSmoke;
}

table, th, td {
border: 1px solid black;
}

th, td {
padding: 8px;
}

table {
border-collapse: collapse;
}   

th {
background-color: #98FB98;
}

td:nth-child(2) {
background-color: Gainsboro;
}

td:nth-child(4) {
background-color: Gainsboro;
}

td:nth-child(6) {
background-color: Gainsboro;
}

td:nth-child(1) {
background-color: #FFFFF0;
}

td:nth-child(3) {
background-color: #FFFFF0;
}

td:nth-child(5) {
background-color: #FFFFF0;
}

tr, td:hover {
background-color: #FFD700;
}

h1 {
    width: 70%;
    height: 60px;
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    }

lb {
    line-height: 2em;
}

p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


