<div style="overflow-x:auto;">

body {
    background-color: WhiteSmoke;
}

a:link {
  color: GoldenRod;
}

a:visited {
  color: black;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

table, th, td {
border: 1px solid black;
}

th, td {
padding: 8px;
}

table {
border-collapse: collapse;
}   

th {
background-color: DarkGrey;
}

td:nth-child(even) {
background-color: DeepSkyBlue;
}

td:nth-child(odd) {
background-color: WhiteSmoke;
}

td:hover {
background-color: PowderBlue;
}

h1 {
    width: 450px;
    height: 80px;
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    align: center;
    }

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

