
.nav {
  width: 100vw;
  height: 40vh;
  background-color: #3944F7;
  font-size: x-large;
  color: white;
  text-align: center;
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
}
          
.btn {
  color: white;
  background-color: #38CC77;
  height: 40px;
  width: 90px;
  padding: 2px;
  border: 2px solid black;
  text-decoration: none;
}
